<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #e5e5e5;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-searchbar></ion-searchbar>

  </div>

  <div>


    <ion-row>
      <ion-col size="6" *ngFor="let item of Bookdata" style="border-bottom: 1px solid green;
      border-right: 1px solid green;
      padding: 20px;
      width: 50%;
      height: 50%;">

        <div style="text-align: center;">
          <ion-img [src]="item.img" style="height: 80px;width:100px;"></ion-img>
        </div>
        <div>
          <h4>{{item.discription}}</h4>
          <label>{{item.cost}}</label>
        </div>

      </ion-col>
    </ion-row>

  </div>




</ion-content>
